.DS_Store
build
dist
venv
src/__pycache__/
src/controller/part/__pycache__/
src/controller/programming_language/__pycache__/
src/controller/project_tutorial/__pycache__/
src/controller/type_application/__pycache__/
src/controller/type_creation/__pycache__/
src/model/__pycache__/
src/view/py/__pycache__/
src/view/ui_py/__pycache__/
src/static/json/data.json
src/static/json/list_databases.json
ProgrammingDirectories.spec