altgraph==0.17.4
certifi==2024.2.2
charset-normalizer==3.3.2
greenlet==3.0.3
idna==3.6
importlib-metadata==7.0.2
macholib==1.16.3
modulegraph==0.19.6
packaging==24.0
pyinstaller==4.8
pyinstaller-hooks-contrib==2024.3
PyQt5==5.15.2
PyQt5-sip==12.13.0
requests==2.31.0
SQLAlchemy==2.0.28
typing-extensions==4.10.0
urllib3==2.2.1
validators==0.22.0
zipp==3.17.0